a
	color: $base-link-color
	+single-transition(color, 0.3s)

h1 a:hover, .menu a:hover, .quick-nav a:hover,
	text-decoration: none

header a
	text-decoration: none!important

a:hover
	text-decoration: underline

#ribbon, .menu
	+single-transition(top, 0.3s)

body > .content 
	+single-transition(padding-top, 0.3s)

p 
	color: darken($base-text-color, 20%)
.previous-post
	color: $light-color

footer > .menu
	li 
		border-color: $light-color
		background-color: $base-layout-color
		a
			color: $base-menu-color

.more
	// +button

.aditional-menu
	background-color: $base-layout-color
	a:hover
		background-color: $base-layout-subcolor
	a
		color: $base-menu-color

li
	+single-transition(background-color, 0.3s)

body > header
	background-color: $base-layout-color
	a
		color: $light-color

footer > .menu
	li a:hover, .sub-menu li a:hover, childrean li a:hover
		background-color: $base-layout-subcolor

#commentform, #commentform textarea
	border-color: $border-color

#commentform #submit
	background-color: $base-layout-color
	color: $light-color
	&:hover
		cursor: pointer

#commentform input, footer > form input
	border-style: solid
	border-color: $border-color

.searchform
	background-color: $base-layout-color
	border-color: $light-color

.comment-reply-link
	// background-color: $base-layout-color
	// color: $light-color
	text-align: center
	margin: auto
	&:hover
		cursor: pointer
.footer-widgets
	border-color: rgba(black, .1)

.quick-nav
	// opacity: 0
	+single-transition(opacity, .3s)

// Widgets

.footer-widgets
	background: $base-layout-color

.widget
	h3, a, li, div
		color: $light-color
	li
		background: none
	input
		border-color: #aaa

// Post types
.format-video, .format-quote, .format-image, .format-aside, .format-status
	header
		// display: none

.format-aside
	background: $base-layout-color
	p, a, time
		color: $light-color

=atmosphere-middle
	footer > .menu
		+box-shadow(rgba(black, .1) 0 -2px 0 0 inset)
		background-color: $base-layout-color
		li
			background-color: transparent
		.current-menu-item a
			color: #ddd
			&:hover
				background-color: inherit

	.next-title a
		color: rgba($base-layout-color, .3)
		text-decoration: none

	.prev-title a
		color: rgba($base-layout-color, .6)
		text-decoration: none

	article 
		form
			input, textarea
				font-size: $base-font-size
				line-height: $base-line-height
				padding: 0 $base-half-leader
				height: $base-line-height * 1.5

			textarea
				height: $base-line-height * 6

			p
				+rhythm(.75, 0, 0, 1)

			p:last-of-type
				+rhythm(.75, 0, 0, 1.25)

		.bt-blue
			+button($blue, 24px, $base-font-size, $base-line-height)

		.bt-green
			+button($green, 24px, $base-font-size, $base-line-height)

		.bt-violet
			+button($violet, 24px, $base-font-size, $base-line-height)


=atmosphere-wide

	footer > .menu
		background-color: transparent
		+box-shadow(none)
		li a, .sub-menu li a, .children li a
			color: #333
			background: transparent
		li a:hover, .sub-menu li a:hover, .children li a:hover
			background-color: $light-color
			color: $base-layout-color
		.sub-menu li a:hover
			background-color: darken($light-color, 2%)
		.sub-menu li, .children li
			+single-transition(background-color, 0)
			a 
				background: $light-color
				border-top: 1px solid $base-layout-subcolor
				z-index: 2
		.current-menu-item a
			color: $base-layout-subcolor
		&:after, &:before
			display: none
	
	article 
		form
			input, textarea
				font-size: $base-font-size
				line-height: $base-line-height
				padding: 0 $base-half-leader
				height: $base-line-height * 1.5

			textarea
				height: $base-line-height * 6

			p
				+rhythm(.75, 0, 0, 1)

			p:last-of-type
				+rhythm(.75, 0, 0, 1.25)

		.bt-blue
			+button($blue, 27px, $base-font-size, $base-line-height)

		.bt-green
			+button($green, 27px, $base-font-size, $base-line-height)

		.bt-violet
			+button($violet, 27px, $base-font-size, $base-line-height)