=nav-button
	padding: 10px 20px 5px 0
	width: 20px
	height: 20px
	display: block
	
=alert($color)
	color: $light-color
	background: $color
	+rhythm(1, .5, .5, 1)
	text-align: center
	display: block

=hl($color)
	color: $color
	font-weight: bold

=button($color, $new-font-size, $old-font-size, $line-height)
	color: $light-color
	background: $color
	+rhythm(1, .25, .25, 1)
	border: 0
	outline: none
	+adjust-font-size-to($new-font-size, 1, $old-font-size)
	height: $line-height * 3
	padding-left: 100px
	padding-right: 100px
	vertical-align: middle
	&:hover
		cursor: pointer
		+background-image(linear-gradient($color, darken($color, 5%)))
	&:active
		+background-image(linear-gradient($color, darken($color, 5%)))
a 
	text-decoration: none

.current-menu-item a
	cursor: default

img 
	max-width: 100%
	height: auto

.mobile-menu, .nav-next, .nav-prev
	a
		display: block
	img
		padding: 10px 20px 5px 0
		text-align: right
		float: right

details:hover
	cursor: pointer

=hidden-title($direction)
	position: absolute
	#{$direction}: 90%
	white-space: nowrap
	overflow: hidden
	width: 10%
	top: 70px
	text-align: $direction

=button-old
	color: white
	text-shadow: none
	+background-image(linear-gradient($base-layout-color, $base-layout-subcolor))
	background-color: $base-layout-color
	+padding-trailer(0.25, $base-font-size)
	+padding-leader(0.25, $base-font-size)
	padding-right: 14px
	padding-left: 14px
	display: inline-block
	white-space: nowrap
	font-size: 15px
	&:hover
		+background-image(linear-gradient(#0072bb, #0072bb))
	&:active
		+background-image(linear-gradient(#4d90fe, #0072bb))


.show 
	display: block

.hide
	display: none

.ribbon-pull
	top: 48px!important

.menu-main-pull
	top: 0!important

=reinitialize-font-size-to($font-size)
	$base-font-size: $font-size
	$base-line-height: $base-font-size * 1.5
	+establish-baseline

.alignright
	text-align: right

.alignleft
	text-align: left

.aligncenter
	text-align: center

.bypostauthor
	background: none

.gallery-caption
	background: none

.wp-caption
	background: none

.wp-caption-text
	background: none

.sticky
	background-color: none
