#respond, .comments 
	margin: auto 
	max-width: 30em

.avatar
	display: none

.depth-1
	+padding-trailer(1, $base-font-size)

.depth-2
	+padding-leader(1, $base-font-size)
	.children
		+padding-leader(1, $base-font-size)

// depth 3 will be same

.comment .children
	padding-left: $base-line-height
	display: inherit
	// +padding-leader(1, $base-font-size)

#commentform

	input, textarea

		display: block
		margin: 0
		border: 0
		outline: #ddd solid 2px
		font-size: $base-font-size
		line-height: $base-line-height
		width: 65%
		padding: 0 $base-half-leader
		height: $base-line-height * 1.5


	textarea
		width: 95%
		height: $base-line-height * 6

	p
		+rhythm(.75, 0, 0, 1)
	p:last-of-type
		+rhythm(.75, 0, 0, 1.25)

	.logged-in-as
		+rhythm(1, 0, .25, 1)

	#submit
		outline: none
		width: 50%


.comments .author
	+trailing-border(2px, .5, $base-font-size, solid)
	+trailer(.5, $base-font-size, margin)
	border-color: #aaa

.comment-text
	margin-left: $base-line-height
	min-height: $base-line-height
	// background-color: rgba(black, .1)
	
.comment-reply-link
	float: right
	//extend button
	// +leader(.5, $base-font-size, margin)
	// +trailer(.5, $base-font-size, margin)
	// margin-top: - $base-line-height 
	width: 100px

.comment aside img
	padding-right: $base-line-height
	+trailer(1, $base-font-size, padding)
	margin-left: -$base-line-height
	// display: none
.comments footer
	+leader(1, $base-font-size, margin)