// Mobile first

body 
	> .content
		margin: auto $base-leader
	
	> header
		position: fixed
		text-align: center
		height: $base-line-height * 2
		width: 100%
		bottom: 0
		z-index: 3
		a
			display: inline-block
			+adjust-font-size-to(30px)
			padding-left: 10px
			padding-right: 10px

	> section
		+padding-trailer(1, $base-font-size)

.menu
	text-align: center
	width: 100%
	z-index: 2
	li a 
		// width: 100%
		display: block
		+padding-trailer(0.5, $base-font-size)
		+leading-border(2px, 0.5, $base-font-size, solid)
	+padding-trailer(0.5, $base-font-size)

.logo
	text-align: center
	margin-top: $base-line-height * 3
	margin-bottom: -$base-line-height * 3

footer 
	+trailer(1.6, $base-font-size, padding)

	.searchform
		width: 100%
		+padding-trailer(0.5, $base-font-size)
		+leading-border(2px, 0.5, $base-font-size, solid)
		text-align: center
		input
			display: inline-block
			border-width: 2px
			height: $base-line-height
			padding-left: $base-font-size / 2
			padding-right: $base-font-size / 2
			width: 65%

article
	margin: auto 
	+rhythm(1, 0, 0, 3, $base-font-size)
	max-width: 30em
	header
		+trailer(1, $base-font-size, margin)
	footer
		+leader(1, $base-font-size, margin)
		position: relative

article:last-of-type
	+rhythm(1, 0, 0, 1, $base-font-size)

.quick-nav
	// display: none

// Menu and submenu

.sub-menu, .children
	display: none
	a
		margin-left: 1em
		border-left: 2px solid white

.sub-menu .sub-menu a, .children .children a
	margin-left: 3em
	border-left: 2px solid white
	
.sub-menu-show
	display: block	


.menu-item a.selected, .children a.selected
	+trailing-border(2px, .5, $base-font-size, solid)
	+margin-trailer(1, $base-font-size)
	background-color: $base-layout-subcolor


// width specific

	
#ribbon
	display: none

.next-title, .prev-title
	display: none

// Page specific

// Home page

.home .page
	img
		margin: 0 auto
		display: block
		text-align: center
	figure
		+margin-trailer(1, $base-font-size)
		+margin-leader(1, $base-font-size)
	h1 // it needs to be .title dont forget about it bitch!
		text-align: center

.format-aside
	+rhythm(1, .5, .5, 1)
	padding-left: $base-half-leader
	padding-right: $base-half-leader

.quick-nav
	display: none

// Gallery page

.gallery 
	+margin-leader(1, $base-font-size)

.page-template-gallery-php
	article 
		max-width: 85%

.format-gallery, .page-template-gallery-php

	.gallery-item
		margin: $base-line-height / 2
		a
			display: inline-block

		position: relative
		display: inline-block
		float: left
	.wp-caption-text
		position: absolute
		bottom: 0
		+single-transition(all, 0.3s)
		width: 100%
		padding: 0
		display: block
		background: transparent
		color: transparent
	.gallery-item:hover .wp-caption-text
		background: $base-layout-color
		color: $light-color
	.gallery:after
		clear: both
		content: ""
		display: block
		margin-bottom: - $base-line-height

.attachment 
	figure
		+rhythm(1, 0, 0, 1)
	nav
		text-align: center
	.prev
		float: left
	.next
		float: right
	details
		clear: both

// Category page

.more
	float: right
	position: relative

.pages
	text-align: center
	+margin-trailer(1, $base-line-height)
	a
		padding: 0 $base-half-leader 0 

// Snigle page
.page .title
	text-align: center

// Comments
	worth a separate file.
	little bit easy to work with.

	Need to redefine font size and line height
	in every break point

@import _comments

#commentform
	// height: $base-line-height * 20
	margin-bottom: $base-line-height * 1

.footer-widgets
	// display: none
	
.footer-widgets
	+rhythm(0, 1, 1, 0, $base-font-size)
	display: block
	.inner
		margin: auto
		max-width: 85%

.widget
	vertical-align: top
	min-width: 13em
	min-height: $base-line-height * 4
	max-width: 25%
	display: inline-block
	h3
		+adjust-font-size-to($subheader-font-size, 1)
	div, ul, form
		+rhythm(1, 0, 0, 1)
	ul
		position: relative
	.menu li
		display: block	
		a
			text-align: left	
			+rhythm(0, 0, 0, 0)
			color: $light-color
			border: 0
		a:hover
			background: none
			color: $light-color
			text-decoration: underline

// Unknown

// .aditional-menu
	width: 100%
	display: block
	+padding-trailer(0.5, $base-font-size)
	+leading-border(2px, 0.5, $base-font-size, solid)
	img 
		height: 20px

//header .previous-post img
	padding: 10px

.copyright
	display: none
	// colliding with menu
	
=layout-middle

	.home .content
		figure
			// +rhythm(2, 0, 0, 2, $base-font-size)

	.home
		figure 
			// +rhythm(3, 0, 0, 2, $base-font-size)

	body 

		> header
			display: none

		> .content
			+leader(2, $base-font-size, padding)

	.format-gallery, .page-template-gallery-php
		.gallery:after
			margin-bottom: - $base-line-height
		.gallery-item
			margin: $base-line-height / 2
	.format-status
		> header
			display: none
		
	footer .searchform
		background: none
		position: absolute
		top: 0
		width: 15em
		display: block
		border-width: 0
		right: 11%
		z-index: 1

	footer > .menu
		position: absolute
		display: block
		top: - $base-line-height * 2
		height: $base-line-height * 2
		width: 100%
		padding-bottom: 0
		z-index: 2
		li
			display: inline-block
			margin-right: 0.25em
			margin-left: 0.25em
			position: relative

			a
				+padding-trailer(0.5, $base-font-size)
				+padding-leader(0.5, $base-font-size)
				padding-right: 0.25em
				padding-left: 0.25em
				border: 0

	.menu .sub-menu, .menu .children
		position: absolute
		// right: 0
		li a
			display: block
			background: $base-layout-color
			margin-left: 0
			width: 6em
			border: 0
		.sub-menu, .children
			margin-left: 6em
			// position: relative
			top: 0
			.sub-menu, .children
				top: 0

	.menu li:hover > .sub-menu, .menu li:hover > .children
		display: block

	.next-title
		+hidden-title(left)
		display: block

	.prev-title
		+hidden-title(right)
		display: block
		direction: rtl
	

	.mobile-menu
		display: none

	#ribbon
		display: block
		position: absolute
		width: 40px
		height: $base-line-height * 3
		top: 0
		right: 55px
		background-color: $base-layout-color
		cursor: pointer

	#ribbon:after
		content: ''
		display: block
		width: 0
		height: 0
		position: relative
		right: 0
		top: $base-line-height * 2.95
		border-right: 30px solid transparent
		border-top: 20px solid $base-layout-color
		border-bottom: 20px solid $base-layout-color
		+simple-transform(1, 90deg, -5px, -5px)

	.ribbon-up
		top: 100px

	.menu-up
		top: 48px

	.body-up
		padding-top: 6em

	.avatar
		display: block
		float: left

	#commentform
		input, textarea
			font-size: $base-font-size
			line-height: $base-line-height

	.admin-bar #commentform
		// height: $base-line-height * 12

	// Are we really need to copypast??? Yes =(...

	#commentform
		// height: $base-line-height *20
		// margin-bottom: $base-line-height * 1

		input, textarea
			padding: 0 $base-half-leader
			height: $base-line-height * 1.5
			font-size: $base-font-size
			line-height: $base-line-height

		textarea
			height: $base-line-height * 6



		#submit
			// +leader(.3, $base-font-size, margin)

	.comment-text
		margin-left: $base-line-height
		min-height: $base-line-height

	.comment aside img
		padding-right: $base-line-height
		+trailer(1, $base-font-size, padding)
		margin-left: -$base-line-height

	.comments footer
		+leader(1, $base-font-size, margin)

	.comments .author
		+trailing-border(2px, .5, $base-font-size, solid)
		+trailer(.5, $base-font-size, margin)

	.copyright
		display: block
		text-align: center
		+rhythm(1, 0, 0, 1)

	.widget
		max-width: 25%
		padding-left: 5%

	footer
		padding-bottom: 0

=layout-wide

	#commentform

		input, textarea
			padding: 0 $base-half-leader
			height: $base-line-height * 1.5
			font-size: $base-font-size
			line-height: $base-line-height

		textarea
			height: $base-line-height * 6

	body > header 
		position: static

	.menu
		top: 0

	.next-title, .prev-title
		display: none

	// a[rel=next]
	// 	display: block

	article, #respond, .comments
		max-width: 35em
		
	#ribbon
		display: none

	// Only for now
	//.home
		img
			height: 269px

	.quick-nav
		display: block
		position: fixed
		right: 6%
		bottom: 6%
		li
			display: inline

	.format-gallery, .page-template-gallery-php 
		.gallery:after
			margin-bottom: - $base-line-height
		.gallery-item
			margin: $base-line-height / 2
	
	footer .searchform
		right: 2%
		z-index: 3
	
	footer > .menu
		height: $base-line-height * 2
		position: absolute
		top: 0

	.comment aside img
		padding-right: $base-line-height
		+trailer(1, $base-font-size, padding)
		margin-left: -$base-line-height

	.comments footer
		+leader(1, $base-font-size, margin)

	.comments .author
		+trailing-border(2px, .5, $base-font-size, solid)
		+trailer(.5, $base-font-size, margin)

	.comment-text
		margin-left: $base-line-height
		min-height: $base-line-height

	.footer-widgets
		.inner
			max-width: 100%

	.widget
		max-width: 15%
		padding-left: 14%
