//
	if you want to change the blue
	make sure to change line-height in the script.js as well


@media screen and (min-device-width: 600px)// and (min-width: 600px)
	+reinitialize-font-size-to(16px) // <- base.sass

	+layout-middle
	+atmosphere-middle

@media screen and (min-device-width: 1000px) and (min-width: 1000px)
	+reinitialize-font-size-to(18px)

	+layout-wide
	+atmosphere-wide

//
	After adjusting font size
	make sure to set appropriate width
	in ribbon_up and ribbon_down functions as well as in middle and wide vars


		
		