// Mainly about post styles, i.e. styles within article

@font-face 
	font-family: 'icomoon'
	// src: url('../fonts/icomoon.svg#icomoon') format('svg')
	src: url('../fonts/icomoon.woff') format('woff')
	font-weight: normal
	font-style: normal
	color: $light-color

@font-face 
	font-family: 'Open Sans Book'
	font-style: normal
	font-weight: 300
	src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff')


@font-face 
	font-family: 'Open Sans'
	font-style: normal
	font-weight: 400
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')co


h1, h2, h3, h4
	text-align: left
	font-family: "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP", "Open Sans Book", "Verdana","Arial",sans-serif
	// font-family:  "Open Sans Book", Verdana, Arial,sans-serif
	color: #333

body, h4, h5, h6
	font-family: 'Segoe UI', Segoe, 'Segoe WP', 'Open Sans', Verdana, Arial, sans-serif
	// font-family: "Open Sans Book", Verdana, Arial, sans-serif

p+p
	+leader(1, $base-font-size, margin)

time
	+adjust-font-size-to(13px)

.title, .home h1, #reply-title
	+adjust-font-size-to($header-font-size, 2, $base-font-size)

body > header a, .quick-nav
	font-family: icomoon, sans

.category .title
	text-align: left

.quick-nav
	font-size: 1.5em
	line-height: 1.3em

#mobile-menu
	font-size: 2.3em

article
	h2, h1
		+adjust-font-size-to(50px, 2)
	h3
		+adjust-font-size-to(36px, 2)
	h4, h5, h6
		+adjust-font-size-to(18px, 1, $base-font-size)
		color: #444
		font-weight: bold
	p
		+rhythm(1, 0, 0, 1)
	.content p:first-of-type, p:first-of-type
		text-indent: 1em
	ul, ol
		list-style-position: inside
		+leader(1, $base-font-size, margin)
		+trailer(1, $base-font-size, margin)
	ul
		list-style: disc
	ol
		list-style: decimal
	ul ul
		margin: $base-line-height
	ul+ul, ol+ol
		margin-bottom: 0

	code, pre
		+rhythm(1, 1, 1, 1, $base-font-size)
		+leader(1, $base-font-size, margin)
		display: block
		+apply-side-rhythm-border(left, 4px)
		border-color: #d33
		background-color: rgba(0, 0, 0, .05)
		font-family: Monaco, Consolas, monospace
	blockquote
		+rhythm(1, 1, 1, 1, $base-font-size)
		+apply-side-rhythm-border(left, 4px)
		border-color: $base-layout-subcolor
		background-color: rgba(0, 0, 0, .05)
	abbr
		font-variant: small-caps

	strong
		font-weight: bold
	em
		font-style: italic

	iframe
		max-width: 100%
		display: block
		z-index: 1
	img
		z-index: 1

	figure
		+rhythm(1, 0, 0, 1)

	form 
		display: inline-block
		width: 100%
		input, textarea
			display: block
			margin: 0
			border: 0
			outline: #ddd solid 2px
			font-size: $base-font-size
			line-height: $base-line-height
			width: 65%
			padding: 0 $base-half-leader
			height: $base-line-height * 1.5

		textarea
			height: $base-line-height * 6
			width: 95%

		p
			+rhythm(.75, 0, 0, 1)

		input[type=submit]
			background-color: $base-layout-color
			color: $light-color
			outline: none
			&:hover
				cursor: pointer

	form p:last-of-type
		+rhythm(.75, 0, 0, 1.25)

	.alert-blue
		+alert($blue)

	.alert-violet
		+alert($violet)

	.alert-green
		+alert($green)

	.hl-blue
		+hl($blue)

	.hl-green
		+hl($green)

	.hl-violet
		+hl($violet)

	.bt-blue
		+button($blue, 21px, $base-font-size, $base-line-height)

	.bt-green
		+button($blue, 21px, $base-font-size, $base-line-height)

	.bt-violet
		+button($blue, 21px, $base-font-size, $base-line-height)
